.home {
  display: flex;
  max-width: 80vw;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2%;
}

@media screen and(max-width: 1000px) {
  .home {
    width: 100vw;
    max-width: 100vw !important;
    margin: 0px 0px !important;
    display: grid !important;
    place-items: center;
  }
}
